---
title: Index [nom du projet]
projectname: nom du projet
---

 <link rel="stylesheet" href="_doc/css/doc.css">
	<div style="padding:20px;">
    <h1 class="ui_h1">{{title}}</h1> <br>
      <h2 class="ui_h2">Doc GUIs</h2>
      <ul>
        <li><a href="_doc/">doc</a></li>
      </ul>
    
      <h2 class="ui_h2">{{projectname}}</h2>
      <ul>
          <li>
              <a href="#">Page 1</a>
          </li>
          <li>
              <a href="#">Page 2</a>
          </li>
      </ul>
  </div>


