.breadcrumb{
	height:70px;
	padding-top:10px;
	color:$breadcrumb_color;
	z-index:2;
	
	ul, li, a{
		margin:0;
		padding:0;
		overflow:hidden;
	}	
	li{
		display:table;
		float:left;
	}
	a{
		display:block;
		text-decoration:none;
		color:$breadcrumb_color;
		
		&:after{
			content:">";
			padding:0 5px;
		}
	}
}
.breadcrumb ul li a.main{
	color:$breadcrumb_color_on;
	
	&:after{
		content:"";
		padding:0;
	}
}
li.breadcrumb-back{
	float:right;	
	
	a{
		text-decoration:underline;
		position:relative;
		padding:0 0 0 33px;
		height:46px;
		line-height:23px;
		
		&:after{
			content:"";
			padding:0;			
		}
		
		&:before{
			content:"";
			display:block;
			position:absolute;
			z-index:1;
			top:0;
			left:0;
			//@include sprite-breadcrumb-back-off;
		}
		
		&:hover{
			&:before{
				//@include sprite-breadcrumb-back-on;
			}
		}		
	}		
}