$main_color : #000000; /* main txt color */
$main_bg : #ffffff; /* body background */

//color elements form
$form_border_color: #dadada;
$form_bg_button: #22a86c;
$form_bg_button_hover: #5cb78e;
$form_text_button:#ffffff;
$form_bg_select : #2d2f31;



$border_color : #ff9f72;





/* breadcrumb */
$breadcrumb_color: #a39f99;
$breadcrumb_color_on : #ff9f72;

