$main_fontsize : 14;
html {
  font: $main_fontsize+px/1.2 Arial;
}

body {
	background-color: $main_bg;
	color:$main_color;
}


.fs-xx-large {

}

.fs-x-large {

}

.fs-large {

}

.fs-medium {

}

.fs-small {

}

.fs-x-small {

}

.fs-xx-small {

}
